body{
  background: url('/static/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}

.login{
  background-color: rgba(0,0,0,.2);
  color: white;
}

.dropdown-toggle{
  color: white;
}

.mainContent{
  position: absolute;
  top: 75px;
  left: 10%;
  width: calc(80% - 30px);
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 15px;
}

.flash{
  position: fixed;
  top: 0px;
  left: 0px;
}
